# Node & build artifacts
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.DS_Store

# Git
.git
.gitignore

# Next.js cache (recreated on build)
.next/cache

# Env files (keep example only)
.env
.env.local
.env.*.local
!.env.example

# IMPORTANT: keep lockfile for npm ci reproducibility
!package-lock.json
